*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box; 
}
a{
    text-decoration: none;
}
.head{
    text-align: center;

}
.serneses{
   display: flex; 
   flex-wrap: wrap;
   /* background-color: yellowgreen; */
   gap: 10px;
   width: 100%;
   justify-content: space-between;
   text-align: center;
   padding: 3px;
}

.serces{
    background-color: violet;
    text-align: center;
    width: calc(( 100% - 50px ) / 3 );
       border: 2px solid black;
   

}
.serces img{
    width: 100%;

    
}
.serces h2{
    text-transform: capitalize;
    text-decoration-line: underline;
    text-decoration-color: yellow;
    text-decoration-style: double;
    /* text-transform: lowercase;
    text-transform: uppercase; */
    font-size: 150%;
    text-underline-offset: 5px;
}
.serces span{
    background-color: yellow;
    font-size: large;
    text-decoration-line: underline;

}

.serces .span_of{
    background-color: violet;
}
.serces .oldSpan{
   text-decoration: line-through;
   background-color: brown;
}
.serces .newSpan{
    background-color: rgb(166, 255, 0);
}
.serces a{
    text-decoration: none;
}

