*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box; 
}
.head{
    text-align: center;

}
.serneses{
   display: flex; 
   flex-wrap: wrap;
   /* background-color: yellowgreen; */
   gap: 10px;
   width: 100%;
   justify-content: space-between;
   text-align: center;
   padding: 3px;







}

.serces{
    background-color: violet;
    text-align: center;
    width: calc(( 100% - 50px ) / 3 );
       border: 2px solid black;
   

}
.serces img{
    width: 100%;

}